
/*used to add some gap between the fixed nav-bar and the body to push it back down*/
body::before {
    display: block;
    content: "";
    height: 60px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

@media (max-width: 600px) {

    .react {
        width: 40%;
    }
}